/**********************************************
************ GENERAL STYLE **************** */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);
$dark-gray: hsl(0, 0%, 63%);

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Spartan", sans-serif;
	font-size: 13px;
}

p {
	line-height: 1.6;
	color: $very-dark-gray;
	font-size: 0.8rem;
}

a {
	color: $black;
}

h2,
h1 {
	font-weight: 700;
}

img {
	max-width: 100%;
}
li {
	list-style: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

/* ******************************************** */

/* ***************************************************
************ HERO SECTION STYLES ******************** */

/* *****************************************
********* HERO(HEADER)  IMAGES FOR MOBILE *********** */
.slide1 {
	background: url("/src/images/mobile-image-hero-1.jpg");
}
.slide2 {
	background: url("/src/images/mobile-image-hero-2.jpg");
}
.slide3 {
	background: url("/src/images/mobile-image-hero-3.jpg");
}

/* **********************************************
******* SET VIEW PORT HEIGHT FOR EACH IMAGE */
.slide1,
.slide2,
.slide3 {
	position: relative;
	min-height: 60vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* ************************************************* */

/* **************************************************
 ******** **************HEADER CONTENT **************************
 ***************[ THE HEADER TITLE AND PARARGRAPH]********** */
.card-details {
	margin: 3rem auto;

	h1 {
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 2rem;
	}

	a {
		text-decoration: none;
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	a:hover {
		opacity: 0.5;
	}

	img {
		margin-left: 0.5rem;
	}
}

/* *************************************
************************************** */

nav {
	.nav-wrapper {
		display: flex;
		padding-top: 1rem;
		ul {
			display: none;

			li {
				cursor: pointer;
			}

			li:hover {
				opacity: 0.7;
			}
		}
		.hamburger-close {
			display: none;
		}

		.hamburger-open {
			display: flex;
			align-items: center;
		}

		.nav-title {
			color: $white;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			font-size: 1rem;
		}
	}
}

/* ************************************************
************************************************
***** NAV BAR STYLE FOR MOBILE LAYOUT ********* */
.close {
	background: $white;
	padding: 2rem 0;
	color: black;

	.nav-wrapper {
		display: flex;
		justify-content: space-between;
		padding-top: 0;

		li + li {
			margin-left: 1rem;
		}

		h2 {
			display: none;
		}

		ul {
			display: flex;
			list-style-type: none;
		}

		.hamburger-close {
			display: block;
		}

		.hamburger-close {
			width: 50%;
		}
	}
}

.slider-btn1 {
	position: absolute;
	bottom: -5px;
	right: 0;
	cursor: pointer;

	img {
		background: $black;
		padding: 1.3rem 1.6rem;
	}

	img:hover {
		background: $very-dark-gray;
	}
}

/* ***************************************
************* HERO [HEADER LAYOUT] SECTION MEDIA QUERY *****
*********************************************/
@media screen and (min-width: 600px) {
	.slide1 {
		background: url("/src/images/desktop-image-hero-1.jpg");
	}
	.slide2 {
		background: url("/src/images/desktop-image-hero-2.jpg");
	}
	.slide3 {
		background: url("/src/images/desktop-image-hero-3.jpg");
	}

	.slide1,
	.slide2,
	.slide3 {
		min-height: 80vh;
		background-position: top;
	}

	nav {
		.nav-wrapper {
			display: flex;
			align-items: center;

			.nav-links {
				display: flex;

				li + li {
					margin-left: 2rem;
				}
				li {
					color: $white;
					align-self: center;
					position: relative;
				}

				li:hover::before {
					display: block;
				}
			}
			.hamburger-close {
				display: none;
			}

			.hamburger-open {
				display: none;
			}

			.nav-title {
				text-align: left;
				width: 25%;

				h2 {
					font-size: 1.9rem;
				}
			}
			.nav-links {
				width: 75%;
				align-self: center;
			}
		}
	}

	li::before {
		content: "";
		height: 3px;
		width: 15px;
		background-color: white;
		position: absolute;
		bottom: -5px;
		left: 12px;
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.card-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.card-details {
			width: 40%;

			.card-details-wrapper {
				padding: 2rem;
			}
		}

		#hero-img {
			width: 55%;
		}
	}

	.slider-btn1 {
		position: absolute;
		bottom: -5px;
		right: -130px;
		cursor: pointer;

		img {
			background: $black;
			padding: 1.3rem 1.6rem;
		}

		img:hover {
			background: $very-dark-gray;
		}
	}
}

/* ******************************************
*********** ABOUT SECTION STYLES ************ */
.about-wrapper {
	div + div {
		margin-top: 2rem;
	}

	h2 {
		margin-bottom: 1rem;
		letter-spacing: 2px;
	}

	img {
		width: 100%;
	}
}

@media screen and (min-width: 1000px) {
	.about-wrapper {
		display: flex;
		justify-content: space-between;

		img {
			height: 100%;
		}

		div + div {
			margin: 0;
		}

		.about-img1,
		.about-img2 {
			width: 30%;
		}
		.about-content {
			width: 35%;
			padding: 1.5rem 1rem;
		}

		.about-content {
			padding: 2rem;
			align-self: center;
		}

		h2 {
			font-size: 1rem;
		}
	}
}
