/**********************************************
************ GENERAL STYLE **************** */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Spartan", sans-serif;
  font-size: 13px; }

p {
  line-height: 1.6;
  color: #454545;
  font-size: 0.8rem; }

a {
  color: black; }

h2,
h1 {
  font-weight: 700; }

img {
  max-width: 100%; }

li {
  list-style: none; }

.container {
  width: 90%;
  margin: 0 auto; }

/* ******************************************** */
/* ***************************************************
************ HERO SECTION STYLES ******************** */
.slide1 {
  background: url("/src/images/mobile-image-hero-1.jpg"); }

.slide2 {
  background: url("/src/images/mobile-image-hero-2.jpg"); }

.slide3 {
  background: url("/src/images/mobile-image-hero-3.jpg"); }

.slide1,
.slide2,
.slide3 {
  position: relative;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.card-details {
  margin: 3rem auto; }
  .card-details h1 {
    margin-bottom: 1rem; }
  .card-details p {
    margin-bottom: 2rem; }
  .card-details a {
    text-decoration: none;
    letter-spacing: 10px;
    text-transform: uppercase; }
  .card-details a:hover {
    opacity: 0.5; }
  .card-details img {
    margin-left: 0.5rem; }

nav .nav-wrapper {
  display: flex;
  padding-top: 1rem; }
  nav .nav-wrapper ul {
    display: none; }
    nav .nav-wrapper ul li {
      cursor: pointer; }
    nav .nav-wrapper ul li:hover {
      opacity: 0.7; }
  nav .nav-wrapper .hamburger-close {
    display: none; }
  nav .nav-wrapper .hamburger-open {
    display: flex;
    align-items: center; }
  nav .nav-wrapper .nav-title {
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem; }

.close {
  background: white;
  padding: 2rem 0;
  color: black; }
  .close .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 0; }
    .close .nav-wrapper li + li {
      margin-left: 1rem; }
    .close .nav-wrapper h2 {
      display: none; }
    .close .nav-wrapper ul {
      display: flex;
      list-style-type: none; }
    .close .nav-wrapper .hamburger-close {
      display: block; }
    .close .nav-wrapper .hamburger-close {
      width: 50%; }

.slider-btn1 {
  position: absolute;
  bottom: -5px;
  right: 0;
  cursor: pointer; }
  .slider-btn1 img {
    background: black;
    padding: 1.3rem 1.6rem; }
  .slider-btn1 img:hover {
    background: #454545; }

/* ***************************************
************* HERO SECTION MEDIA QUERY *****
*********************************************/
@media screen and (min-width: 600px) {
  .slide1 {
    background: url("/src/images/desktop-image-hero-1.jpg"); }
  .slide2 {
    background: url("/src/images/desktop-image-hero-2.jpg"); }
  .slide3 {
    background: url("/src/images/desktop-image-hero-3.jpg"); }
  .slide1,
  .slide2,
  .slide3 {
    min-height: 80vh;
    background-position: top; }
  nav .nav-wrapper {
    display: flex;
    align-items: center; }
    nav .nav-wrapper .nav-links {
      display: flex; }
      nav .nav-wrapper .nav-links li + li {
        margin-left: 2rem; }
      nav .nav-wrapper .nav-links li {
        color: white;
        align-self: center;
        position: relative; }
      nav .nav-wrapper .nav-links li:hover::before {
        display: block; }
    nav .nav-wrapper .hamburger-close {
      display: none; }
    nav .nav-wrapper .hamburger-open {
      display: none; }
    nav .nav-wrapper .nav-title {
      text-align: left;
      width: 25%; }
      nav .nav-wrapper .nav-title h2 {
        font-size: 1.9rem; }
    nav .nav-wrapper .nav-links {
      width: 75%;
      align-self: center; }
  li::before {
    content: "";
    height: 3px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 12px;
    display: none; } }

@media screen and (min-width: 1000px) {
  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card-container .card-details {
      width: 40%; }
      .card-container .card-details .card-details-wrapper {
        padding: 2rem; }
    .card-container #hero-img {
      width: 55%; }
  .slider-btn1 {
    position: absolute;
    bottom: -5px;
    right: -130px;
    cursor: pointer; }
    .slider-btn1 img {
      background: black;
      padding: 1.3rem 1.6rem; }
    .slider-btn1 img:hover {
      background: #454545; } }

/* ******************************************
*********** ABOUT SECTION STYLES ************ */
.about-wrapper div + div {
  margin-top: 2rem; }

.about-wrapper h2 {
  margin-bottom: 1rem;
  letter-spacing: 2px; }

.about-wrapper img {
  width: 100%; }

@media screen and (min-width: 1000px) {
  .about-wrapper {
    display: flex;
    justify-content: space-between; }
    .about-wrapper img {
      height: 100%; }
    .about-wrapper div + div {
      margin: 0; }
    .about-wrapper .about-img1,
    .about-wrapper .about-img2 {
      width: 30%; }
    .about-wrapper .about-content {
      width: 35%;
      padding: 1.5rem 1rem; }
    .about-wrapper .about-content {
      padding: 2rem;
      align-self: center; }
    .about-wrapper h2 {
      font-size: 1rem; } }
